@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  background-image: url(/wallpapers/age-of-empires-2-definitive-edition_6069381.jpg);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}
